div.about-module-container {
    background     : #0000001a;
    padding-bottom : 100px;
    padding-top    : 100px;
}

div.about-module-main-about {
    display         : flex;
    justify-content : center;
    align-items     : center;
}

div.about-module-main-story {
    padding-right : 50px;
    width         : 50%;
}

p.about-module-header {
    color          : var(--white-text-color);
    font-family    : var(--h2-font-family);
    font-size      : var(--h2-font-size);
    letter-spacing : var(--h2-letter-spacing);
    line-height    : var(--h2-line-height);
}

p.about-module--main-about-subtext {
    font-family : var(--body-font-family);
    font-size   : var(--body-font-size);
    line-height : var(--body-line-height);
    color: var(--main-text-color);
    margin-bottom: 30px;
}

img.about-module-spesh {
    width         : 300px;
    height        : 300px;
    border        : 2px solid #ffffff80;
    border-radius : 15px;
    box-shadow    : 0 0 50px hsl(0deg 0% 100% / 10%);
}