div.map-module-container {
    display     : flex;
    font-family : vcr;
    margin-top  : 50px;
    position    : relative;
}

div.map-module-container > img:not(.map-module-map-style) {
    display  : block;
    position : absolute;
}

img.map-module-map-style {
    width : 100%;
}

img.map-module-donut-world {
    transition : .5s;
    width      : 38%;
    left       : 5%;
    top        : 42%;
    animation  : map-module-donutanimation 8s infinite alternate;
}

@keyframes map-module-donutanimation {
    0% {
        transform : translateY(0) rotate(5deg);
    }
    100% {
        transform : translateY(-1vw) rotate(6deg);
    }
}

button.map-module-world-button {
    backdrop-filter : blur(100px);
    background      : rgba(171, 145, 240, .2);
    border          : 2px solid rgba(236, 236, 237, .5);
    border-radius   : 34px;
    box-sizing      : border-box;
    color           : var(--white-text-color);
    display         : block;
    font-size       : var(--bigger-body-font-size);
    padding         : 4px 30px;
    position        : absolute;
    transition      : .2s;
    z-index         : 1;
    cursor          : pointer;
}

button.map-module-world-button:hover {
    background : rgba(141, 134, 161, .8);
    box-shadow : 0 0 50px rgb(255 255 255 / 30%);
}

img.map-module-dino-world {
    transition : .5s;
    animation  : map-module-dinoanimation 8s infinite alternate;
    left       : 26%;
    top        : 5%;
    width      : 30%;
}

@keyframes map-module-dinoanimation {
    0% {
        transform : translateY(0) rotate(9deg);
    }
    100% {
        transform : translateY(-1vw) rotate(11deg);
    }
}

img.map-module-wall-street {
    animation : map-module-wallanimation 8s infinite alternate;
    right     : 5%;
    top       : 23%;
    width     : 41%;
}

@keyframes map-module-wallanimation {
    0% {
        transform : translateY(0) rotate(-8deg);
    }
    100% {
        transform : translateY(-1vw) rotate(-10deg);
    }
}


button.donut-button {
    left : 17%;
    top  : 81%;
}

button.donut-button:hover + img.map-module-donut-world {
    filter : drop-shadow(0 0 100px rgba(255, 255, 255, .5));
    left   : 3%;
    width  : 42%;
}

button.dino-button {
    left : 35%;
    top  : 40%;
}

button.wall-street-button {
    right : 16%;
    top   : 65%;
}
