div.navbar-nav {
    height          : 7rem;
    color           : rgba(0, 0, 0, 0.7);
    font-family     : AlNile;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

div.navbar-nav > img.logo {
    width   : 9rem;
    height  : auto;
    display : none;
}

div.navbar-nav > img.logo.active {
    display : block;
}

div.navbar-nav-items {
    /*width         : 4.8rem;*/
    height        : .5rem;
    line-height   : .6rem;
    padding       : 0 .4rem;
    background    : #ffffff;
    border-radius : 4px;
}

div.navbar-nav-items > a{
    color: #343a40;
    font-weight : bolder;
    padding     : 0 0.1rem;
}

div.navbar-nav-items > span {
    font-family : AlNile;
    font-weight : bolder;
    opacity     : .8;
    padding     : 0 0.1rem;
}

div.navbar-nav-items > span{
    display: inline-block;
    height : .5rem;
    cursor : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👀</text></svg>") 16 0,auto;
}

div.navbar-nav-items > span:nth-child(2):hover {
    cursor : pointer;
    color  : #000000;
}

