div.navbar-nav {
    height          : 7rem;
    color           : rgba(0, 0, 0, 0.7);
    font-family     : AlNile;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

div.navbar-nav > img.logo {
    width   : 9rem;
    height  : auto;
    display : none;
}

div.navbar-nav > img.logo.active {
    display : block;
}

div.navbar-nav-items {
    /*width         : 4.8rem;*/
    height        : .5rem;
    line-height   : .6rem;
    padding       : 0 .4rem;
    background    : #ffffff;
    border-radius : 4px;
}

div.navbar-nav-items > span {
    font-family : AlNile;
    font-weight : bolder;
    padding     : 0 0.1rem;
}
div.navbar-nav-items > span:nth-child(2) {
    color  : #000000;
}
div.navbar-nav-items > span:hover {
    cursor : url("C:\Users\Administrator\Desktop\Web\React\universe\src\views\home\navbar\eye.ico") auto;
}

div.navbar-nav-items > span:nth-child(2):hover {
    cursor : pointer;
    color  : #000000;
}

