div.navbar-nav {
    color           : rgba(0, 0, 0, 0.7);
    font-family     : vcr;
    padding-top     : 1rem;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

div.navbar-nav > img.logo {
    width  : 9rem;
    height : auto;
}

div.navbar-nav-items {
    width         : 4.8rem;
    height        : .5rem;
    line-height   : .5rem;
    padding       : 0 .4rem;
    background    : #ffffff;
    border-radius : 4px;
}

div.navbar-nav-items > span {
    font-family : vcr;
    font-weight : bolder;
    padding     : 0 0.1rem;
    cursor      : pointer;
}

div.navbar-nav-items > span:hover {
    color : #000000;
}
