div.team-module-container {
    padding-bottom : 70px;
    padding-top    : 80px;
}

img.team-module-left-img {
    position   : absolute;
    left       : 0;
    margin-top : -250px;
    transition : .5s;
    width      : 22%;
}

img.team-module-left-img:hover {
    filter : drop-shadow(0 0 30px rgba(255, 255, 255, .3));
    width  : 23%;
}

div.team-module-header {
    color          : var(--white-text-color);
    font-family    : var(--h2-font-family);
    font-size      : var(--h2-font-size);
    letter-spacing : var(--h1-letter-spacing);
    line-height    : var(--h1-line-height);
    margin-bottom  : 20px;
    padding-right  : 6px;
    padding-top    : 20px;
    text-align     : center;
}

div.team-module-sub-container {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    margin          : auto;
    max-width       : 1000px;
    box-sizing      : border-box;
}

div.team-module-teams {
    box-sizing : border-box;
    margin     : 3px;
    padding    : 5px;
    text-align : left;
}

div.team-module-teams > img {
    border        : 2px solid var(--main-text-color);
    border-radius : 15px;
    height        : 180px;
    transition    : .3s;
    width         : 180px;
}

div.team-module-teams {
    font-family    : urspecial;
    font-size      : 22px;
    letter-spacing : var(--h6-letter-spacing);
    line-height    : var(--h5-line-height);
    padding-top    : 10px;
    transition     : .3s;
}

div.team-module--role {
    color       : var(--main-text-color);
    font-family : var(--body-font-family);
    font-size   : 12px;
    line-height : var(--body-line-height);
}
