div.adopt-module {
    position       : relative;
    font-family    : vcr;
    padding-bottom : 150px;
    padding-top    : 60px;
}

div.adopt-module > img {
    position   : absolute;
    transition : .5s;
}

div.adopt-module > img.adopt-module-left {
    position   : absolute;
    left       : 20px;
    width      : 20%;
    margin-top : 60px;
    animation  : adopt-module-rotation 16s infinite alternate;
}

div.adopt-module-innerContainer {
    padding-bottom : 150px;
    padding-top    : 60px;
}

div.adopt-module > img.adopt-module-left:hover {
    filter : drop-shadow(0 30px 50px rgba(46, 45, 56, .8));
    width  : 21%;
}

@keyframes adopt-module-rotation {
    0% {
        transform : rotate(0deg)
    }
    25% {
        transform : rotate(5deg)
    }
    50% {
        transform : rotate(0deg)
    }
    75% {
        transform : rotate(-5deg)
    }
    100% {
        transform : rotate(0deg)
    }
}

div.adopt-module > img.adopt-module-right {
    position  : absolute;
    right     : 6%;
    width     : 11%;
    animation : adopt-module-action 4s infinite alternate;
}

@keyframes adopt-module-action {
    0% {
        transform : translateY(0);
    }
    100% {
        transform : translateY(-20px);
    }
}

div.adopt-module > img.adopt-module-right:hover {
    filter : drop-shadow(0 30px 50px rgba(46, 45, 56, .8));
    width  : 11.5%;
}

div.adopt-module-innerContainer {
    text-align : center;
}

p.adopt-module--main-text {
    font-family    : var(--h2-font-family);
    font-size      : var(--h2-font-size);
    letter-spacing : var(--h2-letter-spacing);
    line-height    : var(--h2-line-height);
    margin         : auto;
}

p.adopt-module--sub-text {
    font-family : vrc;
    color       : #FFFFFF80;
}

button.adopt-module--opensea-button {
    cursor        : pointer;
    background    : #ab91f033;
    border        : 2px solid #ececed;
    border-radius : 50px;
    color         : var(--white-text-color);
    font-family   : Pixellari;
    font-size     : 24px;
    height        : 58px;
    line-height   : 2.45;
    margin-top    : 35px;
    transition    : .2s;
    width         : 270px;
}

button.adopt-module--opensea-button:hover {
    background : #ffffff4d;
    box-shadow : 0 0 50px rgb(255 255 255 / 30%);
}
