div.faq-module-container {
    background     : #0000001a;
    padding-bottom : 80px;
    padding-top    : 100px;
}

div.faq-module-container > h2 {
    color          : var(--white-text-color);
    font-family    : var(--h2-font-family);
    font-size      : var(--h1-font-size);
    letter-spacing : var(--h1-letter-spacing);
    line-height    : var(--h1-line-height);
    margin         : 0 auto 30px;
    text-align     : center;
}

div.faq-module-accordion {
    display   : flex;
    flex-wrap : wrap;
    margin    : auto;
    max-width : 1000px;
    width     : 72%;
}

div.faq-module-sub-container {
    column-count : 2;
    column-gap   : 60px;
    font-size    : 25px;
    margin       : auto;
}

div.faq-module-block {
    margin-bottom : 1rem;
}

div.faq-module-block > label {
    display        : block;
    font-size      : var(--h6-font-size);
    color          : var(--white-text-color);
    font-family    : var(--h2-font-family);
    letter-spacing : var(--h6-letter-spacing);
    line-height    : var(--h6-line-height);
    padding-bottom : 5px;
    padding-top    : 5px;
}

div.faq-module-block > div {
    color       : var(--main-text-color);
    font-family : var(--body-font-family);
    font-size   : var(--body-font-size);
    line-height : var(--body-line-height);
    margin      : auto;
}