div.discord-module {
    height      : 12rem;
    padding-top : 1rem;
    position    : relative;
    overflow    : hidden;
}

div.discord-module > img {
    width : 100%;
}

div.discord-module > img.discord-background02 {
    position : absolute;
    top      : -5.17rem;
    left     : 0;
    z-index  : 13;
}

section.discord-text {
    position          : absolute;
    z-index           : 30;
    top               : 3.8rem;
    width             : 6.5rem;
    left              : 50%;
    font-size         : .3rem;
    -webkit-transform : translateX(-50%);
    transform         : translateX(-50%);
    line-height       : 0.3rem;
}

section.discord-text > img {
    display : block;
    width   : 100%;
    height  : auto;
    margin  : 0 auto;
}

section.discord-text > img:not(:first-child) {
    position : absolute;
}

section.discord-text > a {
    position : absolute;
    z-index  : 20;
    width    : 1rem;
    height   : 1rem;
    left     : .2rem;
    bottom   : -.2rem;
}

section.discord-text > a img {
    display   : block;
    width     : .5rem;
    transform : scale(2);
}

section.discord-text > img:nth-child(3) {
    width  : 1.7rem;
    left   : -.3rem;
    bottom : 0;
}

/*循环移动Icons样式*/
div.discord-module div.discord-icons {
    position      : absolute;
    height        : 90%;
    z-index       : 5;
    top           : .2rem;
    left          : 0;
    border-radius : 50%;
    display       : flex;
}

div.discord-module div.discord-icons.active {
    -webkit-animation-name            : move;
    -webkit-animation-duration        : 100s;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-timing-function : linear;
    animation-name                    : move;
    animation-duration                : 100s;
    animation-timing-function         : linear;
    animation-iteration-count         : infinite;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform : translateX(0);
    }
    100% {
        -webkit-transform : translateX(-66.6%);
    }
}

@-moz-keyframes move {
    0% {
        -moz-transform : translateX(0);
    }
    100% {
        -moz-transform : translateX(-66.6%);
    }
}

@keyframes move {
    0% {
        transform : translateX(0);
    }
    100% {
        transform : translateX(-66.6%);
    }
}

div.discord-module img.discord-cat {
    display           : block;
    position          : absolute;
    z-index           : 10;
    top               : 45%;
    left              : 50%;
    -webkit-transform : translate(-50%, -50%);
    transform         : translate(-50%, -50%);
    width             : 8.5rem;
    height            : auto;
}

div.discord-module div.discord-icons img {
    height : 99%;
}

/*环形文字样式*/
.ellipse {
    position : absolute;
    top      : -1rem;
    left     : -1.6rem;
    z-index  : 15;
}

.ellipse path {
    fill : none;
}

.ellipse {
    width  : 100%;
    height : 100%;
    margin : 10em auto;
}

.ellipse svg {
    display  : block;
    overflow : visible;
}

.ellipse svg tspan {
    font-weight : bolder;
}

.ellipse svg a:nth-child(2n) tspan {
    fill : #ff0023;
}

.ellipse svg a:nth-child(2n-1) tspan {
    fill : #00e19b;
}

.ellipse svg a:nth-child(1) tspan {
    fill : #ff0023;
}

.ellipse svg a:nth-child(2) tspan {
    fill : #fd5100;
}

.ellipse svg a:nth-child(3) tspan {
    fill : #ff8601;
}

.ellipse svg a:nth-child(4) tspan {
    fill : #ffc700;
}

.ellipse svg a:nth-child(5) tspan {
    fill : #8ee701;
}

.ellipse svg a:nth-child(6) tspan {
    fill : #00e19b;
}

@keyframes rotation {
    0% {
        transform : rotate(0);
    }
    100% {
        transform : rotate(360deg);
    }
}

@media (max-width: 800px) {
    .ellipse{
        display: none;
    }
}