/*@import "left.css";*/
/*@import "bottom.css";*/
/*@import "right.css";*/
/*@import "top.css";*/

div.discord-module {
    position : relative;
    overflow : hidden;
}

div.discord-module > img {
    width : 100%;
}

div.discord-module > img.discord-background02 {
    position : absolute;
    top      : 0;
    left     : 0;
    z-index  : 13;
}

section.discord-text {
    position    : absolute;
    z-index     : 11;
    top         : 3.5rem;
    width       : 5.5rem;
    left        : 50%;
    font-size   : .3rem;
    font-family : SounsoRare;
    transform   : translateX(-50%);
    line-height : 0.3rem;
}

div.discord-module div.discord-icons {
    position      : absolute;
    /*width         : 100%;*/
    height        : 100%;
    top           : 0;
    border-radius : 50%;
    animation     : move1 10s linear infinite;
    display       : flex;

}

@keyframes move1 {
    0% {
        -webkit-transform : translateX(0);
        transform         : translateX(0);
    }
    100% {
        -webkit-transform : translateX(-100%);
        transform         : translateX(-100%);
    }
}

div.discord-module img.discord-cat {
    display   : block;
    position  : absolute;
    z-index   : 10;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    width     : 8.5rem;
    height    : auto;
}

div.discord-module div.discord-icons img {
    width : 100%;
}

.ellipse {
    position : absolute;
    top      : 0;
    left     : -1.6rem;
    z-index  : 15;
}

.ellipse path {
    /** 去除底色 */
    fill : none;
}

.ellipse {
    width  : 100%;
    height : 100%;
    margin : 4em auto;
}

.ellipse svg {
    display  : block;
    overflow : visible;
}