/*div.discord-icons div.left-icons {*/
/*    position : absolute;*/
/*    top      : 3rem;*/
/*    animation : 4s move linear infinite;*/
/*    overflow : hidden;*/
/*}*/
/*@keyframes move {*/
/*    0% {*/
/*        opacity   : 1;*/
/*        !*transform : translate(-3rem, 0);*!*/
/*    }*/
/*    10% {*/
/*        opacity   : 1;*/
/*        transform : translate(1rem, 0);*/
/*    }*/
/*    60% {*/
/*        opacity   : .8;*/
/*        transform : translate(2rem, 0);*/
/*    }*/
/*    80% {*/
/*        opacity   : .5;*/
/*        transform : translate(4.5rem, 0);*/
/*    }*/
/*    100% {*/
/*        transform : translate(5rem, 0);*/
/*        opacity   : 0;*/
/*    }*/
/*}*/
div.discord-icons img{
    position: absolute;
}
div.discord-icons img:nth-child(1) {
    top       : 3rem;
    animation : 4s img1-move linear infinite;
}

div.discord-icons img:nth-child(2) {
    top       : 3rem;
    animation : 4s img2-move linear infinite;
}

div.discord-icons img:nth-child(3) {
    top       : 3rem;
    animation : 4s img3-move linear infinite;
}

div.discord-icons img:nth-child(4) {
    top       : 3rem;
    animation : 4s img4-move linear infinite;
}

div.discord-icons img:nth-child(5) {
    top       : 3rem;
    animation : 5s img5-move linear infinite;
}

@keyframes img1-move {
    0% {
        opacity   : 1;
        transform : translate(-3rem, 0);
    }
    10% {
        opacity   : 1;
        transform : translate(-1rem, 0);
    }
    60% {
        opacity   : .8;
        transform : translate(3.5rem, 0);
    }
    80% {
        opacity   : .5;
        transform : translate(4.5rem, 0) rotate(180deg) scale(.5);
    }
    100% {
        transform : translate(5rem, 0) rotate(360deg) scale(.2);
        opacity   : 0;
    }
}

@keyframes img2-move {
    0% {
        opacity   : 1;
        transform : translate(-3rem, 0);
    }
    10% {
        opacity   : 1;
        transform : translate(-2rem, 0);
    }
    60% {
        opacity   : .8;
        transform : translate(2.5rem, 0);
    }
    80% {
        opacity   : .5;
        transform : translate(4.5rem, 0) rotate(180deg) scale(.5);
    }
    100% {
        transform : translate(5rem, 0) rotate(360deg) scale(.2);
        opacity   : 0;
    }
}

@keyframes img3-move {
    0% {
        opacity   : 1;
        transform : translate(-3rem, 0);
    }
    10% {
        opacity   : 1;
        transform : translate(-3rem, 0);
    }
    60% {
        opacity   : .8;
        transform : translate(2.5rem, 0);
    }
    80% {
        opacity   : .5;
        transform : translate(4.5rem, 0) rotate(180deg) scale(.5);
    }
    100% {
        transform : translate(5rem, 0) rotate(360deg) scale(.2);
        opacity   : 0;
    }
}

@keyframes img4-move {
    0% {
        opacity   : 1;
        transform : translate(-3rem, 0);
    }
    10% {
        opacity   : 1;
        transform : translate(-4rem, 0);
    }
    60% {
        opacity   : .8;
        transform : translate(2.5rem, 0);
    }
    80% {
        opacity   : .5;
        transform : translate(4.5rem, 0) rotate(180deg) scale(.5);
    }
    100% {
        transform : translate(5rem, 0) rotate(360deg) scale(.2);
        opacity   : 0;
    }
}

@keyframes img5-move {
    0% {
        opacity   : 1;
        transform : translate(-3rem, 0);
    }
    10% {
        opacity   : 1;
        transform : translate(-5rem, 0);
    }
    60% {
        opacity   : .8;
        transform : translate(2.5rem, 0);
    }
    80% {
        opacity   : .5;
        transform : translate(4.5rem, 0) rotate(180deg) scale(.5);
    }
    100% {
        transform : translate(5rem, 0) rotate(360deg) scale(.2);
        opacity   : 0;
    }
}