div.left-icons img:nth-child(1) {
    top  : 1.5rem;
    left : 4.3rem;
}

div.left-icons img:nth-child(2) {
    top  : 2.5rem;
    left : 3.7rem;
}

div.left-icons img:nth-child(3) {
    top  : 3.5rem;
    left : 3.7rem;
}
