div#twitter-module {
    position : relative;
    height   : 15rem;
}

div.text-container {
    width     : 68%;
    position  : absolute;
    left      : 50%;
    top       : -20%;
    transform : translateX(-50%);
}

section.title-container {
    width         : 5rem;
    height        : 0.7rem;
    background    : #dfee88;
    border-radius : 0.2rem;
    position      : absolute;
    top           : -0.4rem;
    left          : 50%;
    transform     : translateX(-50%);
    border        : 4px solid #000000;
}

section.title-container img.title-icon1 {
    width    : 4rem;
    height   : auto;
    position : absolute;
    top      : -1.7rem;
    left     : -2.5rem;
}

section.title-container img.title-icon2 {
    width    : 4rem;
    height   : auto;
    position : absolute;
    top      : -1.2rem;
    right    : -1.5rem;
}

section.content-container {
    width         : 100%;
    height        : 5rem;
    background    : #ffffff;
    border-radius : 0.2rem;
    border        : 3px solid #000000;
}

section.content-container img.content-icon1 {
    width     : 4rem;
    height    : auto;
    position  : absolute;
    left      : -2.4rem;
    bottom    : -1.9rem;
    transform : rotate(-24deg);
}

section.content-container img.content-icon2 {
    width    : 4rem;
    height   : auto;
    position : absolute;
    right    : -0.9rem;
    bottom   : -1.8rem;
}