@font-face {
    font-family : "vcr";
    src         : url("./VCR.ttf") format("truetype");
}

@font-face {
    font-family : "Pixellari";
    src         : url("./Pixellari.ttf") format("truetype");
}

@font-face {
    font-family : "urspecial";
    src         : url("./URspecial.ttc") format("truetype");
}

@font-face {
    font-family : "SounsoRare";
    src         : url("./SounsoRare.ttf") format("truetype");
}

@font-face {
    font-family : "Tarfia";
    src         : url("./Tarfia.ttf") format("truetype");
}

@font-face {
    font-family : "AlNile";
    src         : url("./AlNile.ttc") format("truetype");
}
