@font-face {
    font-family : "vcr";
    src         : url("./VCR.ttf") format("truetype");
}

@font-face {
    font-family : "Pixellari";
    src         : url("./Pixellari.ttf") format("truetype");
}

@font-face {
    font-family : "urspecial";
    src         : url("./URspecial.ttc") format("truetype");
}
