@import "assets/font/index.css";
@import "assets/style/root.css";

body {
    margin                  : 0;
    font-family             : vcr;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    color                   : #ffffff;
    background              : #60396d;
}

code {
    font-family : source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color           : inherit;
    text-decoration : none;
}

button {
    font-family : inherit;
    font-size   : inherit;
    line-height : inherit;
    margin      : 0;
}

hr{
    background-color: currentColor;
}
