div.roadmap-module-container {
    padding-bottom : 120px;
    padding-top    : 80px;
    position       : relative;
}

img.roadmap-module-roadmap {
    left        : 0;
    margin-left : 25%;
    position    : absolute;
    transition  : 1s;
    width       : 50%;
}

img.roadmap-module-roadmap:hover {
    cursor : url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👀</text></svg>") 16 0, auto
}

img.roadmap-module-left {
    left       : 0;
    margin-top : 530px;
    position   : absolute;
    transition : .5s;
    width      : 12%;
}

img.roadmap-module-right {
    position   : absolute;
    right      : 0;
    transition : .5s;
    width      : 12%;
}

img.roadmap-module-left:hover,
img.roadmap-module-right:hover {
    filter : drop-shadow(0 0 30px rgba(255, 255, 255, .3));
    width  : 13%;
}